@{
    ViewData["Title"] = "Contactos";
}
<div class="page h-100">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="box row">

        <div class="col-4 w-100 p-3 h-100 flex-d">
            <h2>MORADA</h2>
            <p>Travessa da Baquelite, nº28 - Marrazes, 2415-611 - Leiria</p>
        </div>
        <div class="col-4 w-100 p-3 h-100 flex-d">
            <h2>EMAIL</h2>
            <h4>Atendimento ao Cliente:</h4>
            <p>atendimento@techish.pt</p>
            <h3>Reembolsos:</h3>
            <p>reembolsos@techish.pt</p>

        </div>
        <div class="col-4 w-100 p-3 h-100 flex-d">
            <h2>TElEFONE</h2>
            <h4>Ligue para:</h4>
            <p>+351 961 939 939</p>
            <p>+351 911 939 939</p>
            <p>+351 931 939 939</p>

        </div>
    </div>
</div>
